<div>
  {{#each artistAlbums}}
    <div>
      <img src="{{images.0.url}}" alt="album-cover" />
      <h2>{{name}}</h2>
      <p>
        Release date:
        {{release_date}}
      </p>
      <p>
        Total tracks:
        {{total_tracks}}
      </p>
      <a href="/albums/tracks/{{id}}">View tracks</a>
    </div>
  {{/each}}
</div>